// .latex {
//     @import './assets/css/latex.scss';
// }

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$black: #000000;
$gray0: #333131;
$gray1: #d8d8d8;
$gray2: #3b3838;
$green0: #064D2A;
$green1: #038C3E;
$green2: #27ce40;
$highlight: #5a5a5a80;
$cream: #E0D2BD;

:root {
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    background-color: $cream;
}

.robotomono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.code {
    font-family: 'Fira Code', monospace;
    font-weight: 300;
}

.space {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.spacei {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: italic;
}

.inlinesvg {
    height: 1em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

header .router-link-exact-active {
    color: $green1 !important;
    font-weight: bold;
    font-style: italic;
}

p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem 0 0.5rem 0;
}

p a {
    color: $green0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
}

.link a {
    color: $green0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
}

.nuxt-link-exact-active {
    color: $green0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
}

.linkall {
    color: $green0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
}

blockquote {
    padding-left: 2rem;
    text-indent: 1.5rem;
}

@import 'tailwind.scss';

h1 {
    @apply text-6xl;
    margin-top: 0.67em;
    /* margin-bottom reduced from 0.67em */
    margin-bottom: 0.335em;

    font-family: 'Space Mono', monospace;
    font-weight: 600;

    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    @apply text-4xl;
    margin-top: 0.83em;
    /* margin-bottom reduced from 0.83em */
    margin-bottom: 0.415em;

    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

h3 {
    @apply text-2xl;
    margin-top: 0.5em;
    /* margin-bottom reduced from 0.5em */
    margin-bottom: 0.5em;

    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

h4 {
    @apply text-lg;
    margin-top: 0.666em;
    /* margin-bottom reduced from 1.33em */
    margin-bottom: 0.666em;
    
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

h5 {
    @apply text-base;
    margin-top: 1.67em;
    /* margin-bottom reduced from 1.67em */
    margin-bottom: 0.835em;
        
    font-family: 'Fira Code', monospace;
    font-weight: 600;
}

h6 {
    @apply text-sm;
    margin-top: 2.33em;
    /* margin-bottom reduced from 2.33em */
    margin-bottom: 1.165em;
        
    font-family: 'Fira Code', monospace;
    font-weight: 600;
}

.text-md {
    @apply text-base;
}

.zeromt {
    margin-top: 0 !important;
}

.fullimg {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: $gray0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
}

.footerlogo {
    height: 20em;
}

.footertext {
    @apply text-4xl;
    color: white;
}

.centerelement {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.bg-gray0 {
    background-color: $gray0;
}

ul:not(.list-none) {
    @apply list-disc;
    @apply list-inside;
}

li p {
    display: inline;
}
